/* Custom Stylesheet for Tiny Pop (https://github.com/shahariaazam/tiny-pop).*/
/* Author: G. M. Shaharia Azam (http://www.shahariaazam.com) */
#trigger {
    text-align: center;
}

/* Style you custom popupbox according to your requirement */
.popupbox {
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    display: none; /* Hidden as default */
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    background-color: #ffffff;
}

.popupbox2 {
    width: 454px;
    height: 307px;
    background-repeat: no-repeat;
    display: none;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
}

.popupbox3 {
    width: 502px;
    height: 302px; /**/
    background-repeat: no-repeat;
    display: none;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
}

#fade {
    display: none; /* Hidden as default */
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999;
}

#innerDiv {
    text-align: center;
    background-color: khaki;
    border: 5px solid darkgreen;
}

#innerDiv input{
    text-align: left;
    float: left;
    width: 43%;
    padding:12px ! important;
    margin:2px 4px 0;
    border:1px #008000 solid;
    background-color:#fff;
    font:  18px helvetica,sans-serif ! important;
    font-weight: bold ! important;
    color: #012326;
}

#close img {
    text-decoration: none;
}

#close {
    width: 50px;
    height: 50px;
    position: absolute;
    float: right;
}

#innerDiv2 {
    padding: 70px;
}

#innerDiv2  h2 {
    font-size: 24px;
    color: #696868;
    font-family: Verdana, Geneva, sans-serif;
}

#innerDiv2 p {
    font-size: 12px;
    color: #696868;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 20px;
}

#innerDiv3 {
    padding: 70px;
}

#innerDiv3  h2 {
    font-size: 24px;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}

#innerDiv3 p {
    font-size: 12px;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 20px;
}